body {
    margin: 0;
    padding: 0;
}
#menu{
    margin-bottom: 20px;
    /*position: static;*/
    position: relative;
}

#title {
    font-size: 12pt;
}

#content {
}
.news-item {
    margin: 5px 0;
    border-bottom: 1px solid #f5f5f5;
    position: relative;
}
.arrow-up {
    display: block;
    float: right;
    font-size: 1.2em;
}
.arrow-down {
    display: block;
    float: right;
    font-size: 1.2em;
    
}
.arrow-up:hover, .arrow-down:hover {
    text-decoration: none;
}

.comment  .arrow-up {
    float: left;
}

.comment  .arrow-down {
    float: left;
}

.comment-arrow {
    color: green;
    font-size: 1.2em;
}

.news-item-vote {
    width: 44px;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 50px;

}
.news-num {
    float: left;
    display: block;
    font-weight: 700;
    color: #ddd;
    font-size: 34px;
    line-height: 34px;
}
.news-item-link {
    margin-left: 54px;
}
.news-item-info {
    font-size: 12px;
    margin-left: 54px;
}

.news-item-info span {
    padding-right: 10px;
}

.label-pad-top {
    padding-top: 5px;
}

.comment-block {
    margin-left: 15px;
}
.comment {
    margin-bottom: 10px;
    border-bottom: solid 1px #eee;
    border-left: solid 1px #eee;
    padding: 5px;
}

.comment-body {
    padding: 5px;
}


#main-footer {
    margin-top: 20px;
    border-top: solid 2px #ddd;
}
